$bg-purple: #2e3192;
$text-color: #1e2d78;
$text-silver: #8a8a8a;
$bg-orange: #d33;
$bg-orange-light: #f4572e;
$bg-white: #fff;
$bg-white-alternative: #fff2f2;
$font-primary: 'Open Sans';
$line-height-base: 1.6;
