@import './fonts.scss';
@import './normalize.scss';

$bg-purple:#2E3192;
$text-color: #1E2D78;
$bg-white:#fff;
$font-primary: 'Open Sans';
$line-height-base: 1.6;

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  max-width: 1920px;
}

* {
  font-family : $font-primary, sans-serif;
  font-size: 13px;
}

body {
  background-color: $bg-white
}

body::-webkit-scrollbar {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  line-height: 2;
  letter-spacing: 0.2em;
  font-weight: 600;
  transition: all 0.5s ease;
}

.button:hover {
  transform: scale(1.05);
}

.header {
  height: 3.05rem;
  background: $bg-purple;
  display: flex;
  align-items: center;
  line-height: $line-height-base;
}

.header-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: $bg-white;
  padding-inline: 40px;
  width: 100%;

  .header-info-schedule {
    display: inline-block;
    width: 20rem;
    font-weight: normal;
  }

  .header-info-general {
    display: flex;
    column-gap: 40px;

    .header-info-phone {
      display: inline-flex;
      column-gap: 10px;

      .header-info-phone-icon {
        width: 1.3rem;
        aspect-ratio: 1;
      }
    }

    .header-info-address {
      display: inline-flex;
      column-gap: 10px;

      .header-info-address-icon {
        width: 1.3rem;
        aspect-ratio: 1;
      }
    }
  }
}

.hero-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 45px;
  height: 100px;

  img {
    width: 135px;
    height: 17px;
    aspect-ratio: 1;
  }
}

.hero-navbar-list {
  display: flex;
  list-style: none;

  .hero-navbar-item {
    padding-block: 40px;
  }
  }

  .hero-navbar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    position: relative;
    text-decoration: none;
    color: $text-color;
    font-weight: 600;
    letter-spacing: 2.6px;
    font-size: 13px;
    line-height: 77%;
    text-transform: uppercase;


    &::before {
      content: '';
      position: absolute;
      top: -45px;
      left: 0;
      width: 0;
      height: 3px;
      background: #DD3333 ;
      transition: width 0.3s ease;
    }

    &:hover::before {
      width: 100%;
    }
  }

.hero-navbar-buttons {
  display: flex;
  align-items: center;
  gap: 30px;

  .hero-navbar-search-button {
    background: transparent;
    color: $text-color;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2.6px;
    border: none;
    width: 63px;
    height: 59px;
  }

  .hero-navbar-hamburger-menu {
    width: 49px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    background: #FDEAEA;
    border: none;
  }
}

.hero-info-wrapper {
  background: url('public/images/hero-background.png') center/contain no-repeat;
  width: 100%;
  height: 650px;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 125px;
}

.hero-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 40px;
  margin-top: 145px;
}

.hero-swiper-pagination {
  width: 55px;
  height: 55px;
  aspect-ratio: 1;
  background: $bg-white;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0;

  svg {
    color: $text-color;
    width: 27px;
    height: 49px;
  }
}

.hero-info-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  margin-right: 690px;

  .hero-info-title {
    background: #f4572e;
    width: 168px;
    height: 29px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    h1 {
      text-transform: uppercase;
      font-weight: 600;
      line-height: 1.7;
      letter-spacing: 0.15em;
    }
  }

  .hero-info-subtitle {

    h2 {
      background: #fff;
      border-radius: 5px;
      width: fit-content;
      font-size: clamp(0.8rem,3.12vw,4.6rem);
      font-weight: bold;
      color: $text-color;
      line-height: 1.18;
      letter-spacing: 0;
      padding-inline: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      margin: 0 0;
      margin-bottom: 10px;
    }

    
  }

  .hero-info-buttons {
    display: flex;
    gap: 15px;

    .hero-info-view-button {
      background: $bg-purple;
      width: 180px;
      height: 55px;
      color: #fff;

    }

    .hero-info-purchase-button {
      background: #ffffff;
      width: 180px;
      height: 55px;
      color: $text-color;
    }

  }
}

.hero-pagination-list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:15px;
}

.hero-pagination-button{
  width: 8px;
  height: 8px;
  padding: 0;
  border: none;
  background-color: #ccc; 
  border-radius: 50%;     
  cursor: pointer;       
}

.hero-pagination-item:nth-child(1) .hero-pagination-button {
  background-color: #F4572E;
}

.hero-pagination-item:nth-child(2) .hero-pagination-button {
  background-color: #CAE3F9;
}

.hero-pagination-item:nth-child(3) .hero-pagination-button {
 background-color: #1E2D78;
}
.hero-pagination-item:nth-child(4) .hero-pagination-button {
  background-color: #FECBCB;
}

.is-current{
  transform: scale(2);
}


@media (max-width: 1080px) {
  .header {
    height: auto;
    padding-block: 10px;
  }

  .header-info {
    justify-content: center;
    white-space: nowrap;
    height: auto;
  }

  .header-info-general {
    flex-wrap: wrap;
  }

  .hero-navbar-list {
    display: none;
  }


}

@media (max-width: 620px) {

}
